# Public ENVS

## Docker tag
TAG="X.X.X"

## Line Notify
LINE_NOTIFY_URL="https://notify-api.line.me/api/notify"

## Sentry
NEXT_PUBLIC_SENTRY_DSN="https://cee646a424e92410d7f08ae439cf1fbf@o4508058782531584.ingest.us.sentry.io/4508058784825344"

# Private ENVS

## Line Notify
LINE_NOTIFY_SECRET_TOKEN=""

# prisma connection
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NON_POOLING=""

## Auth.js
AUTH_URL=""
AUTH_SECRET=""

## Sentry
SENTRY_AUTH_TOKEN=""
SENTRY_REPORT_URL=""
